img {
    border-radius: 1000px;
}

h1 {
    font-size: 45px;
}

p {
    font-size: 20px;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    margin-left: 75px;
    padding: 0;
}

body {
    padding-bottom: 75px;
}

#headshot {
    width: 400px;
    height: 400px;
    object-fit: cover;
    object-position: center;
}

#github {
    height: 50px;
    width: 50px;
}

#linkedin {
    height: 50px;
    width: 50px;
}

#email {
    height: 50px;
    width: 50px;
}

.main-body {
    justify-content: space-around;
}

.profile {
    padding-top: 75px;
    text-align: center;
    width: 33%;
    height: auto;
}

.projects {
    width: 33%;
    height: 300px;
    justify-content: space-between;
    text-align: center;
}

.projects-text {
    font-size: 15px;
}

.bottom-bar {
    position: fixed;
    bottom: 0px;
    left: 0px;
    justify-content: space-between;
}

.bar-item {
    padding: 20px;
}

.heading {
    padding-left: 75px;
    padding-top: 40px;
    text-align: left;
    font-size: 50px;
}

/* .subheading {
    padding-left: 100px;
} */

.paragraph {
    margin-bottom: 20px;
    margin-left: 75px;
    margin-right: 75px;
    border-radius: 10px;
    padding: 20px;
    border-width: 20px;
    border-color: black;
    background-color: lightgray;
}

.icon {
    height: 50px;
    width: 50px;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.hidden {
    display: none;
}
